<app-nav-bar></app-nav-bar>

<div>
    <h1>INICIO </h1>
</div>
<!--
<div class="container-fluid bg-black mt-5 vh-100" *ngIf="usuario">
  <div class="container-fluid d-flex align-items-center justify-content-center flex-column">
    <img class="rounded-circle img-fluid  mt-5" [src]="usuario[0].url_img" alt="Foto de perfil">
  </div>
  <div class="container-fluid d-flex align-items-center justify-content-center flex-column">
    <h1 class="text-light mt-4">Hola!, me llamo: {{usuario[0].nombre}} {{usuario[0].apellido}}</h1>
    <h1 class="text-light">Y soy: {{usuario[0].titulo}}</h1>
  </div>
</div>
<app-nav-bar></app-nav-bar>
<div class="container-fluid bg-black mt-5 vh-100" *ngIf="usuario">
  <div class="container-fluid d-flex align-items-center justify-content-center flex-column">
    <img class="rounded-circle img-fluid  mt-5" [src]="usuario[0].url_img" alt="Foto de perfil">
  </div>
  <div class="container-fluid d-flex align-items-center justify-content-center flex-column">
    <h1 class="text-light mt-4">Hola!, me llamo: {{usuario[0].nombre}} {{usuario[0].apellido}}</h1>
    <h1 class="text-light">Y soy: {{usuario[0].titulo}}</h1>
  </div>
</div>
-->