<app-nav-bar></app-nav-bar>

<div id="educacion" class="container-fluid educacion mt-5" *ngIf="educacion && bootcamp">
   <br>
        <div class="titulo">
            <h2>Educación y Bootcamp</h2>
        </div>
        
        <div class="divEducacion">
            <img  [src]="educacion[0].url_img" alt="imgArgPro" class="imgArgPro">
            <section>
                <h2 >{{educacion[0].nombre_curso}} </h2>
                <h3>{{educacion[0].titulo}} </h3>
                <p class="text-start">{{educacion[0].descripcion}} </p>
            </section>
        </div>
        <div class="divEducacion">
            <img [src]="educacion[1].url_img" alt="">
            <section>
                <h2>{{educacion[1].nombre_curso}}</h2>
                <h3>{{educacion[1].titulo}}</h3>
                <p class="text-start">{{educacion[1].descripcion}}</p>
            </section>
        </div>
        <div class="divEducacion" >
            <img class="imgFinnegans" [src]="bootcamp[0].url_img" alt="imgFinnegans">
            <section>
                <h2>{{bootcamp[0].nombre}} </h2>
                <h3>{{bootcamp[0].empresa}}</h3>
                <p class="text-start">{{bootcamp[0].descripcion}}</p>
            </section>
        </div>
        <div class="divEducacion">
            <img class="imgAlkemy" [src]="bootcamp[1].url_img" alt="">
            <section>
                <h2>{{bootcamp[1].nombre}}</h2>
                <h3>{{bootcamp[1].empresa}}</h3>
                <p class="text-start">{{bootcamp[1].descripcion}}</p>
            </section>
        </div>
        
        <div  class="col-12 divBtn">
            <button class="btn" type="button" *ngIf="loggedIn"><i class="fa-solid fa-trash"></i></button>
            <button class="btn" type="button" *ngIf="loggedIn" ><i class="fa-solid fa-plus"></i></button>
        </div>
    
</div>
