<app-nav-bar></app-nav-bar>
<div>
    <h1 class="mt-5">Proyectos</h1>
</div>
<!--
<div class="container-fluid mt-5 pt-3 " *ngIf="proyecto">
    <div class="titulo text-center">
        <h2>Proyectos</h2>
    </div>
      
    <div>
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-2 ">
            <div class="col">
              <div class="card h-100">
                <img [src]="proyecto[0].url_img" class="card-img-top h-50" alt="...">
                <div class="card-body">
                    <div class="d-flex flex-wrap">
                        <div class="rounded ps-2 pe-2 me-2 bg-danger text-light mb-1"><b>Html</b></div>
                        <div class="rounded ps-2 pe-2 me-2 bg-primary text-light mb-1"><b>CSS</b></div>
                        <div class="rounded ps-2 pe-2 me-2 bg-warning mb-1 text-light"><b>JavaScript</b></div>
                        <div class="rounded ps-2 pe-2 me-2 bg-danger text-light mb-1"><b>Angular</b></div>
                        <div class="rounded ps-2 pe-2 me-2 bg-light border border-dark mb-1"><b>Java</b></div>
                        <div  class="rounded ps-2 pe-2 me-2 bg-success text-light"><b>Bootstrap</b></div>
                        <div class="rounded ps-2 pe-2 me-2 bg-dark text-light"><b>Springboot</b></div>
                        <div class="rounded ps-2 pe-2 me-2 bg-info text-light"><b>MySQL</b></div>
                        <div></div>
                        <div></div>
                    </div>
                    <h2>{{proyecto[0].nombre}} </h2>
                    <p>{{proyecto[0].descripcion}} </p>
                </div>
                <div class="d-flex justify-content-center mb-2">
                  <a class="text-center  border border-dark text-decoration-none rounded w-25 bg-dark text-light"  href="https://github.com/CabreraExequiel/PortFolio.git" target="_blank">Ver más</a>
                  </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img [src]="proyecto[1].url_img" class="card-img-top h-50" alt="...">
                <div class="card-body">
                    <div class="d-flex flex-wrap">
                        <div class="rounded ps-2 pe-2 me-2 bg-danger text-light mb-1"><b>Angular</b></div>
                        <div class="rounded ps-2 pe-2 me-2 bg-primary text-light mb-1"><b>TypeScript</b></div>
                        <div  class="rounded ps-2 pe-2 me-2 bg-success text-light mb-1"><b>Bootstrap</b></div>
                        <div class="rounded ps-2 pe-2 me-2 bg-danger text-light mb-1"><b>Html</b></div>
                    </div>
                    <h2>{{proyecto[1].nombre}}</h2>
                    <p>{{proyecto[1].descripcion}}</p>
                </div>
                <div class="d-flex justify-content-center mb-2">
                  <a class="text-center  border border-dark text-decoration-none rounded w-25 bg-dark text-light"  href="https://github.com/CabreraExequiel/Wallet.git" target="_blank">Ver más</a>
                  </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img [src]="proyecto[3].url_img" class="card-img-top h-50" alt="...">
                <div class="card-body">
                    <div class="d-flex flex-wrap">
                        <div class="rounded ps-2 pe-2 me-2 bg-danger text-light mb-1"><b>Html</b></div>
                        <div  class="rounded ps-2 pe-2 me-2 bg-success text-light mb-1"><b>Bootstrap</b></div>
                        <div class="rounded ps-2 pe-2 me-2 bg-primary text-light mb-1"><b>CSS</b></div>
                    </div>
                    <h2>{{proyecto[3].nombre}}</h2>
                    <p>{{proyecto[3].descripcion}}</p>
                </div>
                <div class="d-flex justify-content-center mb-2">
                <a class="text-center  border border-dark text-decoration-none rounded w-25 bg-dark text-light"  href="https://cabreraexequiel.github.io/TP_IntegradorCaC.github.io/" target="_blank">Ver más</a>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div  class="col-12 divBtn text-center ">
        <button class="btn m-2" type="button" [disabled]="!loggedIn" ><i class="fa-solid fa-trash"></i></button>
        <button class="btn" type="button" [disabled]="!loggedIn"><i class="fa-solid fa-plus"></i></button>
        <button class="btn m-2" type="button" [disabled]="!loggedIn"><i class="fa-solid fa-pen"></i></button>
    </div>

</div>
-->