<app-nav-bar></app-nav-bar>

<div class="divAbout container-fluid" *ngIf="usuario">
  <div class="div">
    <img [src]="usuario[0].url_foto" alt="Foto de Perfil">
  </div>
  <div class="divContenido">
    <div class="d-flex justify-content-between">
      <h1>Sobre mi...</h1>
      <button id="btn-editar" [(ngModel)]="descripcionUsuario" class="btn btn-link" type="button" [disabled]="!loggedIn" (click)="onClickEditar()"><i class="fas fa-edit"></i></button>
    </div>
    <p id="descripcion" #descripcion>{{usuario[0].descripcion}}</p>
  </div>
</div>
