

<app-nav-bar></app-nav-bar>

<div class="divAbout container-fluid" *ngIf="usuario">
  <div class="div position-relative">
    <img [src]="usuario[0].url_foto" alt="Foto de Perfil">
    <button id="btn-editar-imagen" [(ngModel)]="imagenUsuario" class="btn btn-link position-absolute top-100 start-50 translate-middle mt-3" type="button" *ngIf="loggedIn" (click)="onClickEditarImagen()"><i class="fas fa-edit"></i></button>
  </div>
  <div class="divContenido">
    <div class="d-flex justify-content-between">
      <h1>Sobre mi...</h1>
      <button id="btn-editar" [(ngModel)]="descripcionUsuario" class="btn btn-link" type="button" *ngIf="loggedIn" (click)="onClickEditar()"><i class="fas fa-edit"></i></button>
    </div>
    <p id="descripcion" #descripcion>{{usuario[0].descripcion}}</p>
  </div>
</div>
