.container-fluid{
    background-color: black;
    height: 720px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
  }
  img{
    margin-right: 100px;
    max-width: 300px;
    border-radius: 50%;
  }
  
  h1{
    font-family: anton;
    color: white;
  }
  p{
    color: white;
    text-align: start;
  }
  .divContenido{
    max-width: 600px;
  }
  @media only screen and (max-width: 768px) {
    .divAbout {
      display: flex;
      flex-direction: column;
    }
    img {
      margin-left: 70px;
      max-width: 200px;
    }
  }
  