<app-nav-bar></app-nav-bar>
<div>
    <h1>EMPLEO</h1>
</div>
<!--
<div class="container-fluid mt-5 pt-3 bg-black vh-100" *ngIf="empleo">
    <div class="titulo text-center">
        <h2 class="text-light">Empleos</h2>
    </div>
    <div class="empleo container-fluid d-flex justify-content-between w-75 border border-white rounded mt-3 pt-3">
        <div>
            <img [src]="empleo[0].url_img" alt="" class="mb-3 me-5">
        </div>
        <div>
            <h2 class="text-light">{{empleo[0].empresa}} </h2>
            <h3 class="text-light">Puesto: {{empleo[0].puesto}} </h3>
            <h3 class="text-light">Año: 2019 - 2022</h3>
            <h3 class="text-light">Ubicación: {{empleo[0].ubicacion}}</h3>
            <h3 class="text-light">Contacto: {{empleo[0].contacto}}</h3>
        </div>
        <div>
            <button class="btn btn-link" type="button" [disabled]="!loggedIn" (click)="onClickEditar()"><i class="fas fa-edit"></i></button>
        </div>
    </div>
    <div class="col-12 mt-auto divBtn fixed-bottom">
        <button class="btn text-light m-2" type="button"  [disabled]="!loggedIn"><i class="fa-solid fa-trash"></i></button>
        <button class="btn text-light " type="button"  [disabled]="!loggedIn"><i class="fa-solid fa-plus"></i></button>
    </div>
    
</div>
-->


