<header>
    <!-------------------------------------------------------------------------------------->
    <!----------------------------------------------NavBar---------------------------------->
    <!-------------------------------------------------------------------------------------->
    <nav  class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container-fluid">
        <img class="imgArgPrograma" src="https://www.concordia.gob.ar/sites/all/themes/programar/images/arg-programa.png" alt="" width="30" height="24">
        <button class="navbar-toggler" id="btnNav" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" routerLink="/inicio"  href="#"><b>Inicio</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about" href="#"><b>Sobre mi</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/educacion" href="#"><b>Educación</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/skill" href="#"><b>Skills</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/proyectos" href="#"><b>Proyectos</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/empleos" href="#"><b>Empleos</b></a>
            </li>
          </ul>
          </div>

          

          <div class="dropdown collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            
          </div>

         
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <div class="btn-group">
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Contacto
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="https://wa.me/543454953722" target="_blank">
                  <img src="https://cdn-icons-png.flaticon.com/512/3536/3536445.png" class="rounded, imgContacto" alt="Whatsapp">
                Whatsapp
                </a></li>
                <li><a class="dropdown-item" href="mailto:exequieluader07@gmail.com" target="_blank">
                  <img src="https://cdn-icons-png.flaticon.com/512/732/732200.png" class="rounded, imgContacto" alt="Gmail">
                Gmail
                </a></li>
                <li><a class="dropdown-item" href="https://www.linkedin.com/in/exequiel-cabrera-b6a820246/ " target="_blank">
                  <img src="https://cdn-icons-png.flaticon.com/512/3536/3536505.png" class="rounded, imgContacto" alt="Linkedin">
                Linkedin
                </a></li>
                <li><a class="dropdown-item" href="https://github.com/CabreraExequiel" target="_blank">
                  <img src="https://cdn-icons-png.flaticon.com/512/25/25657.png" class="rounded, imgContacto" alt="GitHub">
                GitHub
                </a></li>
              </ul>
           <app-form class="dropdown-mecu collapse navbar-collapse "  id="navbarSupportedContent"></app-form>
                 
            </div>
          </div>
          
    <!-------------------------------------------------------------------------------------->
    <!----------------------------------------------Form------------------------------------>
    <!-------------------------------------------------------------------------------------->
  

    
            
              
              
        </div>
    </nav>
    

    
    </header>