
<app-nav-bar></app-nav-bar>
<div id="skills" class="divSkills container-fluid mt-5">
    <br>
      <div class="divH2">
        <h2 class="skillsH2">Skills</h2>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <div id="progresoHtml" class="progresoHtml">
              <div class="progresoHtml2">
                  <div class="html">HTML5</div>
                  <p class="porcentajeHtml">80%</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="progresoCss">
              <div class="progresoCss2">
                  <div class="css">CSS</div>
                  <p class="porcentajeCss">80%</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="progresoJs">
              <div class="progresoJs2">
                  <div class="js">JS</div>
                  <p class="porcentajeJs">50%</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="progresoAngular">
              <div class="progresoAngular2">
                  <div class="angular">Angular</div>
                  <p class="porcentajeAngular">50%</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="progresoJava">
              <div class="progresoJava2">
                  <div class="java">Java</div>
                  <p class="porcentajeJava">50%</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="progresoBt">
              <div class="progresoBt2">
                  <div class="bt">Bootstrap</div>
                  <p class="porcentajeBt">85%</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="progresoTs">
              <div class="progresoTs2">
                  <div class="ts">TypeScript</div>
                  <p class="porcentajeTs">50%</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="progresoSb">
              <div class="progresoSb2">
                  <div class="sb">Springboot</div>
                  <p class="porcentajeSb">50%</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="progresoMs">
              <div class="progresoMs2">
                  <div class="ms">MySQL</div>
                  <p class="porcentajeMs">50%</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="progresoGit">
              <div class="progresoGit2">
                  <div class="git">Git</div>
                  <p class="porcentajeGit">50%</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div  class="col-12 btnSkills">
        
      </div>
    </div>